@use "abstracts/variables";
@use "components/composition";
@use "components/button";
@use "components/featureBox";
@import "base/base";
@import "layouts/grid";

@import "abstracts/_functions";
@import "abstracts/_mixins";

@import "base/base";
@import "base/_animation";
@import "base/_typography";
@import "base/_utilities";

@import "pages/_home";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes box-sizing to be inherited */
}
html {
  font-size: 62.5%;
  height: 100vh;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: variables.$color-grey-dark;
  padding: 3rem 3rem 0px 3rem;
  box-sizing: border-box;
}
.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.7),
      rgba(variables.$color-primary-dark, 0.774)
    ),
    url(../img/hero.jpg);
  /* stretch image to the width of viewport */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
