@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.section-about {
  background-color: v.$color-grey-light;
  padding: 25rem 8rem 6rem 8rem;
  margin-top: -20vh;
  padding-bottom: 40rem;
  display: flex;
  flex-direction: column;
  @include mix.respond(tab-port) {
    padding-bottom: 20rem;
  }
  &__details {
    display: flex;
    align-items: center;
    @include mix.respond(tab-port) {
      flex-direction: column;
    }
  }
}
.section-about__detail__text {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.section-features {
  @include mix.respond(tab-land) {
    margin-top: -22rem;
    padding: 10rem 2rem;
  }
  @include mix.respond(tab-port) {
    margin-top: -27rem;
    padding: 10rem 2rem;
  }

  @include mix.respond(phone) {
    padding-bottom: 10rem;
  }

  margin-top: -12rem;
  // display: flex;
  padding: 20rem 8rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(v.$color-primary-light, 0.7),
      rgba(v.$color-primary-dark, 0.774)
    ),
    url(../img/nat-4.jpg);
  /* stretch image to the width of viewport */
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  // @include mix.respond(tab-land) {
  //   flex-direction: column;
  //   margin-top: -7rem;
  //   padding: 10rem 2rem;
  // }
}
.section-tours {
  padding: 20rem 8rem 10rem 8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: v.$color-grey-light;
  margin-top: -10rem;
  padding-top: 20rem;
  @include mix.respond(tab-land) {
    margin-top: -10rem;
    padding: 20rem 2rem 10rem 2rem;
  }
}
.tours-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  perspective: 150rem;
  background-color: v.$color-grey-light;
  @include mix.respond(tab-land) {
    gap: 2rem;
    // flex-wrap: wrap;
    // margin: 1rem;
  }
}
.section-stories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 15rem;
  padding-bottom: 10rem;
  @include mix.respond(tab-port) {
    padding: 0rem 4.5rem 10rem 4.5rem;
  }
}
.section-book {
  position: relative;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(v.$color-primary-light, 1),
    rgba(v.$color-primary-dark, 1)
  );
  @include mix.respond(tab-port) {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(v.$color-white, 0.7) 0%,
      rgba(v.$color-white, 0.8) 60%,
      transparent 60%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;

  @include mix.respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba(v.$color-white, 0.7),
        rgba(v.$color-white, 0.8)
      ),
      url(../../img/nat-10.jpg);
  }

  max-width: 100rem;
  margin: auto;
  box-shadow: v.$shadow-light-1;
  border-radius: v.$border-raduis-small;
  &__form {
    width: 50%;
    padding: 5rem;
    @include mix.respond(tab-port) {
      width: 100%;
    }
  }
}
